RewriteEngine on

# Если запрашиваемая в URL директория или файл существуют обращаемся к ним напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Если нет - перенаправляем запрос на index.php
RewriteRule . index.php
RewriteRule ^([a-zA-Z]*)?/?([a-zA-Z]*)?/?([0-9]*)?/?([a-zA-Z0-9_]*)?$ index.php?controller=$1&action=$2&id=$3&a=$4 [NC,L]

Header set Access-Control-Allow-Origin "*"